################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/apicsharp/FileContentIndex/1d43e02d-b855-4d8c-bc06-d41ba4d527a9.vsidx
